<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alarmapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BACKGOROUND_SERVICE" />



    if (ContextCompat.checkSelfPermission(this, Manifest.permission.SET_ALARM) != PackageManager.PERMISSION_GRANTED) {
    ActivityCompat.requestPermissions(this, new String[]{Manifest.permission.SET_ALARM}, REQUEST_CODE);
}


    <application
        android:name=".MainApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="false"
        android:theme="@style/AppTheme">
<service android:name="com.alarmapp.backgroundService" />

<service
    android:name=".YourForegroundService"
    android:enabled="true"
    android:exported="false" />

<service
  android:name=".AlarmService"
  android:enabled="true"
  android:exported="false" />

<service
 android:name=".BackgroundService"
 android:enabled="true"
 android.exported="false"
 android:permission="android.permission.BIND_JOB_SERVICE"
  />
        <meta-data android:name="com.dieam.reactnativepushnotification.notification_foreground"
                   android:value="true"/>
        <meta-data android:name="com.dieam.reactnativepushnotification.notification_color"
                   android:resource="@color/white"/>
         <receiver android:name=".AlarmReceiver" />
        <receiver
            android:enabled="true"
            android:exported="true"
            android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationBootEventReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationListenerService"
                 android:exported="true"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
